@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

@import "./fonts";
@import "./utils";

section {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
}
